.container {
  padding: 12px;
  @include styleFor(tablet-and-up) {
    padding: 18px;
  }
}

pre {
  padding: 0px !important;
  background-color: transparent !important;

  @include styleFor(tablet-and-up) {
    width: 130% !important;
  }
}
